<div class="row">
    <div class="conteiner">

        <div class="logos">
            <a href="https://www.argentina.gob.ar/economia/conocimiento/argentina-programa"><img src="../../../assets/Ap.png" id="logoAP"></a>
        </div>
        <div class="redes">
            <a href="https://www.facebook.com/borys21"><img src="../../../assets/facebook.png" id="Facebook"></a>
            <a href="https://www.linkedin.com/in/federico-rodriguez-b0a95714b/"><img src="../../../assets/linkedin.png" id="linkedin"></a>
            <a href="https://github.com/FedeR97"><img src="../../../assets/github.png" id="github"></a>
            <a href="https://www.instagram.com/rodrigueez.fedee/"><img src="../../../assets/instagram.png"id="instagram"></a>
            <button type="button" class="btn btn-outline-light" (click)="login()" *ngIf="!isLogged">Login <i class="bi bi-power"></i></button>
            <button type="button" class="btn btn-outline-light" (click)="onLogOut()" *ngIf="isLogged">Cerrar Session <i class="bi bi-power"></i></button>
        </div>
    </div>
</div>