*{
    margin: 0;
    transition: 0.5s;
}
div{
    background-color: black;
}
.conteiner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#logoAP{
    width: 150px;
}
img{
    width: 50px;
    margin: 5px;
}
.btn{
    box-shadow: 0 0 5px rgb(255, 255, 255),0 0 10px rgb(255, 255, 255);
    margin: 4px;
    padding: 4px;
}

