<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/Persona.png" class="img-fluid" id="fotoPerfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Rodriguez Federico Agustin</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de Mi</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt ipsum a eveniet reiciendis unde possimus, corrupti quam repellendus, earum accusamus odio non. Reprehenderit eaque assumenda odit ullam molestias provident saepe!</p>
        </span>
    </div>
</div>
