<div class="conteiner">
    <div class="row">
        <div class="col-xs-12 col-sm-5 col-md-4 col-lg-3">
            <div class="card">
                <div class="foto">
                    <img src={{persona?.img}} class="img-fluid" id="fotoPerfil">
                </div>
                <div class="nombre">
                    <p>{{persona?.nombre}} {{persona?.apellido}}</p>
                    <p>Full Stack Developer Jr.</p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-7 col-md-8 col-lg-9">
            <div class="title">
                <h1><span style="--l: 'brillo';" >Acerca de Mi</span></h1>
            </div>
            <div class="descripcion">
                <p>{{persona?.descripcion}}</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="nuevo">
            <button type="button" class="btn btn-outline-success" routerLink="/editacercade/1" ><i class="bi bi-pencil-square"></i>
                EDITAR
            </button>
        </div>
    </div>
</div>