*{
    margin: 0;
    padding: 0;
    transition: 0.5s;
}
.conteiner{
    text-align: center;
    position: relative;
    background: black;
    border-radius: 40px;
    border: 2px solid white;
    box-shadow: inset 0 0 5px green,0 0 12px green,0 0 10px green;
    color: #fff;
    text-shadow: 0 0 5px green, 0 0 15px green, 0 0 30px green, 0 0 50px green;
    padding: 5px;
    margin: 15px;
}

.card{
    position: relative;
    background: black;
    border-radius: 40px;
    height: 112px;
    justify-content: flex-end;

}

.foto{
    position: absolute;
    right: 50%;
    top: -140%;
    transform: translateX(50%);
    width: 180px;
    height: 180px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 0 10px green,0 0 10px green;
    overflow: hidden;
}

.foto img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit:cover;
}

.nombre{
    margin: 0;
    padding: 10px;
    font-size: 1.25em;
    line-height: 1.2em;
}
.descripcion{
    padding: 10px;
    justify-content: center;
}

.title{
    padding: 16px;
}

.nuevo{
    padding: 10px;
}

.btn{
    box-shadow: 0 0 10px green,0 0 10px green;
    text-shadow: 0 0 5px green, 0 0 15px green, 0 0 30px green, 0 0 50px green;
    margin: 4px;
    padding: 4px;
}