*{
    margin: 0;
    padding: 0;
    transition: 0.5s;
}

.conteiner{
    text-align: center;
    position: relative;
    background: black;
    border-radius: 40px;
    border: 2px solid white;
    box-shadow: inset 0 0 5px green,0 0 15px green,0 0 9px green;
    color: #fff;
    text-shadow: 0 0 5px green, 0 0 15px green, 0 0 30px green, 0 0 50px green;
    padding: 5px;
    margin: 15px;
}
.title{
    padding: 16px;
}

.nuevo{
    padding: 10px;
}

.experiencia{
    padding: 10px;
    margin: 5px;
}
.botones{
    padding: 1px;
    align-items: center;
}