<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Trabajo 1</h1>
                <h3>(years)</h3>
            </li>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. In rerum illo blanditiis, odio aut itaque molestiae, et eaque consequatur sint provident sunt dicta deserunt, doloremque obcaecati dignissimos alias expedita quam!
            </p>
        </ul>
        <ul>
            <li>
                <h1>Trabajo 2</h1>
                <h3>(years)</h3>
            </li>
            <p>
               trabajo 2
            </p>
        </ul>
        <ul>
            <li>
                <h1>Trabajo 3</h1>
                <h3>(years)</h3>
            </li>
            <p>
                trabajo 3
            </p>
        </ul>
    </div>
</div>
