<div class="conteiner">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="title">
                <h1>Experiencia Laboral</h1>
            </div>
        </div>
    </div>
    <div id="experiencia" class="row" *ngFor="let Experiencia of expe">
            <div class="col-xs-12 col-sm-5 col-md-4 col-lg-3">
                <h3>{{Experiencia.nombreE}}</h3>
                <h6>{{Experiencia.fechaInicio}}  |  {{Experiencia.fechaFin}}</h6>
            </div>
            <div class="col-xs-12 col-sm-5 col-md-6 col-lg-7">
                <div class="descripcion">
                    <p>{{Experiencia.descripcionE}}</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
                <div class="botones">
                    <button class="btn btn-outline-success" routerLink="/editexp/{{Experiencia.id}}" *ngIf="isLogged">
                        <i class="bi bi-pencil-square"></i>EDITAR
                    </button>
                    <button class="btn btn-outline-danger" (click)="delete(Experiencia.id)" *ngIf="isLogged">
                        <i class="bi bi-trash2-fill"></i>BORRAR
                    </button>
                </div>
            </div>
            <br>
    </div>
    <div class="row">
        <div class="nuevo">
            <button type="button" class="btn btn-outline-success" routerLink="/nuevaexp" *ngIf="isLogged"><i class="bi bi-plus-circle-fill"></i>
                Agregar una Experiencia Laboral
            </button>
        </div>
    </div>
</div>