<div class="conteiner">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="title">
                <h1>Habilidades</h1>
            </div>
        </div>
    </div>
    <div class="row">
    <div class="text-center col-xs-12 col-sm-6 col-md-4 col-lg-4" *ngFor="let habilidad of habilidad">
            <circle-progress
                [percent]="habilidad.porcentaje"
                [title]="(habilidad.nombre)"
                [showSubtitle]="false"
                [titleColor]="'white'"
                [showTitle]="true"
                [showImage]="false"
                [radius]="100"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="4"
                [outerStrokeColor]="'rgba(34, 139, 34, 1)'"
                [outerStrokeGradient]="true"
                [outerStrokeGradientStopColor]="'rgba(12,250,0,1)'"
                [innerStrokeColor]="'white'"
                [animation]="true"
                [animationDuration]="300"
                >
            </circle-progress>
            <div class="botones">
                <button class="btn btn-outline-success" routerLink="/editHabilidad/{{habilidad.id}}" *ngIf="isLogged">
                    <i class="bi bi-pencil-square"></i>EDITAR
                </button>
                <button class="btn btn-outline-danger" (click)="delete(habilidad.id)" *ngIf="isLogged">
                    <i class="bi bi-trash2-fill"></i>BORRAR
                </button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="nuevo">
            <button type="button" class="btn btn-outline-success" routerLink="/nuevahabilidad" *ngIf="isLogged"><i class="bi bi-plus-circle-fill"></i>
                Agregar una nueva habilidad
            </button>
        </div>
    </div>
</div>
