*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.contenedor{
    background:linear-gradient(45deg,black,green);
    width: 100%;
    height: 100%;
    position: absolute;
}

.wrapper {
    max-width: 350px;
    min-height: 450px;
    margin: 80px auto;
    padding: 40px 30px 30px 30px;
    background-color: #ecf0f3;
    border-radius: 45px;
    box-shadow: inset 0 0 5px green,0 0 15px green,0 0 9px green;
}


.wrapper .form-group input {
    width: 100%;
    display: block;
    border: none;
    outline: none;
    background: none;
    font-size: 1.2rem;
    color: #666;
    padding: 10px 15px 10px 10px;

    padding-left: 10px;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #fff;
}
.wrapper .form-group textarea {
    width: 100%;
    display: block;
    border: none;
    outline: none;
    background: none;
    font-size: 1.2rem;
    color: #666;
    padding: 10px 15px 10px 10px;
    min-height: 80px;
    max-height: 130px;

    padding-left: 10px;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #fff;
}

.wrapper .form-group label{
    margin: 2px;
}

.wrapper .btn {
    box-shadow: none;
    width: 100%;
    height: 40px;
    background-color: #028922;
    color: #fff;
    border-radius: 25px;
    box-shadow: 3px 3px 3px #b1b1b1,
        -3px -3px 3px #fff;
    letter-spacing: 1.3px;
}

.wrapper .btn:hover {
    background-color: #04ac0c;
}

@media(max-width: 380px) {
    .wrapper {
        margin: 30px 20px;
        padding: 40px 15px 15px 15px;
    }
}

::-webkit-scrollbar {
    width: 1vw;
}
::-webkit-scrollbar-track {
    background: transparent
}
::-webkit-scrollbar-thumb {
    background: #b1b1b1;
    border-radius: 10px;
    transition: 0.5s;
}
