<div class="conteiner">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="title">
                <h1>Educación</h1>
            </div>
        </div>
    </div>
    <div id="educacion" class="row" *ngFor="let Educacion of educacion">
        <div class="col-xs-12 col-sm-5 col-md-4 col-lg-3">
            <h3>{{Educacion.nombreE}}</h3>
            <h6>{{Educacion.fechaInicio}}  |  {{Educacion.fechaFin}}</h6>
        </div>
        <div class="col-xs-12 col-sm-5 col-md-6 col-lg-7">
            <div class="descripcion">
                <p>{{Educacion.descripcionE}}</p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <div class="botones">
                <button id=editar class="btn btn-outline-success" routerLink="/editedu/{{Educacion.id}}" *ngIf="isLogged">
                    <i class="bi bi-pencil-square"></i>EDITAR
                </button>
                <button id=borrar class="btn btn-outline-danger" (click)="delete(Educacion.id)" *ngIf="isLogged">
                    <i class="bi bi-trash2-fill"></i>BORRAR
                </button>
            </div>
        </div>
        <p></p>
    </div>
    <div class="row">
        <div class="nuevo">
            <button type="button" class="btn btn-outline-success" routerLink="/nuevaedu" *ngIf="isLogged"><i class="bi bi-plus-circle-fill"></i>
                Agregar una nueva Educacion
            </button>
        </div>
    </div>
</div>
